# LOGISTICS PROBLEM IMPLEMENTATION USING METAHEURASTICS
TWO MAIN COMPONENTS AND THEIR ATTRIBUTES: 
#### 1. ITEMS 
    1. item
    2. size 
    3. delivery_loc
    4. delivery_time (deadline: 1st or 2nd round)
    5. delivery_dispatch (which round it is actually dispatched)
    6. delivery_number (on that route)
    7. bin
    8. days_late

#### 2. VEHICLES
    1. bin
    2. size 
    3. available_space
    4. delivery_time_dispatch (in which round will the vehicle be dispatched)
    5. route_dist
    6. bin_penalty
    7. route_cost
    8. distance_per_item

#### PROBLEM METHODOLOGY:
Items have to be delivered in the desired delivery time (either round 1 or round 2). If item cannot be packed and delivered on time, it is added (with penalty) to the next days list for the same delivery time. The items are grouped by bin. A route is generated for each bin. The corresponding delivery number on the item on the route is noted. The cost of the delivery, and distance per item is calculated.The route order that is generated is mapped to the delivery number of the item. 
 A fitness test is then applied to rank the outcomes, from which we select a solution.  
The combination of items placed in a bin are checked to ensure that the bins are not overfilled (constraint). 
Note: number of bins are fixed


#### IMPLEMENTATION STEPS:
1. Group the items which have to be delivered in the first and second round
2. Bin packing
3. Group items by bin
4. Generate a route for the items in the bin according to their delivery_loc
5. Set the order of where the state occurs in the route to the item
6. Calculate cost

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math 
from math import floor
from random import randint
import csv as csv
#to shuffle dataframe
from sklearn.utils import shuffle 
from IPython.display import display, HTML
import scipy 
from scipy.misc import comb # comb(n,k, exact=True)
from math import inf
from math import exp, expm1
import decimal
import random
# from scipy import special
# from scipy.special import comb
CSS = """
.output {
    flex-direction: column;
}
"""

HTML('<style>{}</style>'.format(CSS))

### Read-in and check data

In [2]:
def read_data(fileName):
    df = pd.read_csv(fileName)
    return df
    
def check_packaging(df):
    rows, cols = df.shape #size of the data set
    return (rows, cols)

def data_check(df, n=3):#n number of items to check 
    df_top_n = df.head(n)
    return (df_top_n)

def check_ns(df):
    ns = df.describe()
    return ns

In [3]:
###FILE NAMES
#ITEMS: 
items = 'items'
bins = 'bins'
city_dist = 'city'
dist_mat = 'distance_matrix'

#### 1D Item data

In [4]:
df_items = read_data('%s.csv'%items)
print("rows(%s) x cols(%s) "%check_packaging(df_items))
print()
print("%s"%data_check(df_items))
print()
print(check_ns(df_items))
print()
df_items.set_index('item')

rows(10) x cols(8)

   item  size  bin  delivery_loc  delivery_time  delivery_dispatch  \
0     0     4  NaN             4              2                NaN
1     1     3  NaN             2              1                NaN
2     2     6  NaN             1              2                NaN

   delivery_number  days_late
0              NaN          0
1              NaN          2
2              NaN          1

           item       size  bin  delivery_loc  delivery_time  \
count  10.00000  10.000000  0.0     10.000000      10.000000
mean    4.50000   5.000000  NaN      3.000000       1.500000
std     3.02765   1.825742  NaN      1.490712       0.527046
min     0.00000   2.000000  NaN      1.000000       1.000000
25%     2.25000   4.000000  NaN      2.000000       1.000000
50%     4.50000   5.000000  NaN      3.000000       1.500000
75%     6.75000   6.000000  NaN      4.000000       2.000000
max     9.00000   8.000000  NaN      5.000000       2.000000

       delivery_dispatch  delivery_number  days_late
count                0.0              0.0   10.00000
mean                 NaN              NaN    1.80000
std                  NaN              NaN    1.75119
min                  NaN              NaN    0.00000
25%                  NaN              NaN    0.25000
50%                  NaN              NaN    1.50000
75%                  NaN              NaN    2.75000
max                  NaN              NaN    5.00000

,size,bin,delivery_loc,delivery_time,delivery_dispatch,delivery_number,days_late
item,,,,,,,
0,4,NaN,4,2,NaN,NaN,0
1,3,NaN,2,1,NaN,NaN,2
2,6,NaN,1,2,NaN,NaN,1
3,8,NaN,5,1,NaN,NaN,5
4,6,NaN,3,1,NaN,NaN,3
5,4,NaN,5,2,NaN,NaN,4
6,5,NaN,3,2,NaN,NaN,2
7,5,NaN,4,1,NaN,NaN,0
8,2,NaN,2,2,NaN,NaN,1
9,7,NaN,1,1,NaN,NaN,0

#### Vehicle data

In [5]:
df_vehicles = read_data('%s.csv'%bins)
print("rows(%s) x cols(%s) "%check_packaging(df_vehicles))
print()
print("%s"%data_check(df_vehicles))
print()
print(check_ns(df_vehicles))
print()
df_vehicles.set_index('bin')

rows(3) x cols(8)

   bin  size  available_space  delivery_time_dispatch  route_dist  \
0    0    12               12                     NaN         NaN
1    1     5                5                     NaN         NaN
2    2     9                9                     NaN         NaN

   bin_penalty  route_cost  distance_per_item
0          1.0         NaN                NaN
1          0.8         NaN                NaN
2          2.0         NaN                NaN

       bin       size  available_space  delivery_time_dispatch  route_dist  \
count  3.0   3.000000         3.000000                     0.0         0.0
mean   1.0   8.666667         8.666667                     NaN         NaN
std    1.0   3.511885         3.511885                     NaN         NaN
min    0.0   5.000000         5.000000                     NaN         NaN
25%    0.5   7.000000         7.000000                     NaN         NaN
50%    1.0   9.000000         9.000000                     NaN         NaN
75%    1.5  10.500000        10.500000                     NaN         NaN
max    2.0  12.000000        12.000000                     NaN         NaN

       bin_penalty  route_cost  distance_per_item
count     3.000000         0.0                0.0
mean      1.266667         NaN                NaN
std       0.642910         NaN                NaN
min       0.800000         NaN                NaN
25%       0.900000         NaN                NaN
50%       1.000000         NaN                NaN
75%       1.500000         NaN                NaN
max       2.000000         NaN                NaN

,size,available_space,delivery_time_dispatch,route_dist,bin_penalty,route_cost,distance_per_item
bin,,,,,,,
0,12,12,NaN,NaN,1.0,NaN,NaN
1,5,5,NaN,NaN,0.8,NaN,NaN
2,9,9,NaN,NaN,2.0,NaN,NaN

#### City data 
(Not all states are connected)

In [6]:
df_cityDist = read_data('%s.csv'%city_dist)
print("rows(%s) x cols(%s) "%check_packaging(df_cityDist))
print()
print("%s"%data_check(df_cityDist))
print()
print(check_ns(df_cityDist))
print()
num_cities = df_cityDist.shape[0]
# df_cityDist.set_index('city')
print('Number of cities including depot: ', num_cities)

rows(6) x cols(6)

     0    1    2    3    4   5
0  NaN  NaN  1.0  3.0  NaN NaN
1  NaN  NaN  2.0  3.0  1.0 NaN
2  1.0  2.0  NaN  4.0  NaN NaN

              0    1         2         3    4    5
count  2.000000  3.0  4.000000  4.000000  1.0  2.0
mean   2.000000  2.0  2.250000  3.000000  1.0  2.0
std    1.414214  1.0  1.258306  0.816497  NaN  0.0
min    1.000000  1.0  1.000000  2.000000  1.0  2.0
25%    1.500000  1.5  1.750000  2.750000  1.0  2.0
50%    2.000000  2.0  2.000000  3.000000  1.0  2.0
75%    2.500000  2.5  2.500000  3.250000  1.0  2.0
max    3.000000  3.0  4.000000  4.000000  1.0  2.0

Number of cities including depot:  6

#### Symmetric distance matrx

In [7]:
df_distMat = read_data('%s.csv'%dist_mat)
print("rows(%s) x cols(%s) "%check_packaging(df_distMat))
print()
print("%s"%data_check(df_distMat))
print()
print(check_ns(df_distMat))
print()
num_cities = df_distMat.shape[0]
# df_cityDist.set_index('city')
print('Number of cities including depot: ', num_cities)

rows(6) x cols(6)

      0     1     2     3     4     5
0   NaN  36.0  32.0  54.0  20.0  40.0
1  36.0   NaN  22.0  58.0  54.0  67.0
2  32.0  22.0   NaN  36.0  42.0  71.0

              0          1          2          3          4         5
count   5.00000   5.000000   5.000000   5.000000   5.000000   5.00000
mean   36.40000  47.400000  40.600000  58.000000  42.200000  63.00000
std    12.36123  18.132843  18.487834  20.736441  13.236314  21.05944
min    20.00000  22.000000  22.000000  36.000000  20.000000  40.00000
25%    32.00000  36.000000  32.000000  50.000000  42.000000  45.00000
50%    36.00000  54.000000  36.000000  54.000000  45.000000  67.00000
75%    40.00000  58.000000  42.000000  58.000000  50.000000  71.00000
max    54.00000  67.000000  71.000000  92.000000  54.000000  92.00000

Number of cities including depot:  6

# BIN PACKING PROBLEM
<font color='royalblue'>The Bin Packing Proble (BPP) component entails packing the $n$ deliverable items into the minimum number of bins without exceeding its fixed capacity and has the minimum wastage of space.
 In this case our bins are the subset of available delivery vehicles, into which the items are to be packed.
Note, not all the items that are required to be distributed are the same in size.</font>

# One dimesional
<font color='grass'>
In order to simplify the problem, we initially consider the problem to be one dimensional. Only one dimension of the item is not fixed, for example length, whilst the other two dimensions (width and height) remain constant.
</font>

In [8]:
#bin summary
def bin_summary(df_vehicles):
    number_of_bins = df_vehicles.shape[0]
    unused = 0
    partial = 0
    max_fill = 0
    for i in range(number_of_bins):
        av_space = df_vehicles.loc[i,'available_space']
        bin_size = df_vehicles.loc[i, 'size']
        if av_space == bin_size:
            unused = unused + 1
        elif av_space == 0:
            max_fill = max_fill +1
        elif av_space < bin_size and av_space!=0:
            partial = partial+1
            
    print("Number of bins : %d" %(number_of_bins))
    print("Number of partial filled bins : %d" %(partial))
    print("Number of unused bins : %d" %(unused))
    print("Number of max filled bins : %d" %(max_fill))
    return None

In [9]:
#number of items not accounted for
def unpacked_items(df_items):
    number_of_items = df_items.shape[0]
    not_packed = 0
    for i in range(number_of_items):
        if df_items.loc[i, 'bin'] == nan:
            not_packed = not_packed +1        
    return not_packed

# GREEDY APPROACH
<font color='darkorange'>A technique which makes locally optimal choices with hope of obtaining the global optimum. 
</font>

## Fit algorithms:  

### First-fit algorithm:
<font color='rebeccapurple'>
Algorithm scans the bins for the first bin which has a large enough space to fit the item. If the current bin has adequate space, the items is allocated to the bin, else the next bin is checked. For the next item, we iterate the bins from the FIRST bin (hence first fit algorithm).
</font>

In [10]:
# INPUT:subset of items in a particular delivery time. Note these are in 'raw form'. They have ro be in indexed. 
        #orginal items and vehicle dataframe
#OUTPUT: returns the updated item data frame, where the subset of items were allocated bins
        # updated bin which has the summary of space left in the bin
def first_fit(df_subItems, df_vehicles): #CHANGE1A
    number_of_subItems = df_subItems.shape[0]#CHANGE2
    number_of_bins = df_vehicles.shape[0]
    list_subItems_incdicies = list(df_subItems.index)
    list_vehicles_incdicies = list(df_vehicles.index)
#     df_subItems.index = range(0,number_of_subItems)#reindexsubitems    #CHANGE3
#     df_vehicles.index = range(0,number_of_bins)#reindexvehicles    #CHANGE3A
    for m in range(number_of_subItems): #CHANGE4B
        i = list_subItems_incdicies[m]
        item_no = df_subItems.loc[i,'item']#CHANGE5
        bin_index = 0 #Change 4B
        j = list_vehicles_incdicies[bin_index] #Change 4B
        item_allocated = False
        item_size = df_subItems.loc[i,'size']#CHANGE6
        while bin_index<= number_of_bins and item_allocated == False: #change4B
            j = list_vehicles_incdicies[bin_index]#change4B
            available_bin_space = df_vehicles.loc[j,'available_space']
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'available_space'] = df_vehicles.loc[j,'available_space'] - item_size #update avialable space
                bin_num = df_vehicles.loc[j,'bin']
                df_subItems.loc[item_no,'bin'] = bin_num#set the allocated bin for the item  #CHANGE7A
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                bin_index = bin_index+1#change4B
                
                if bin_index>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_subItems.loc[item_no,'bin'] = np.nan     #CHANGE8A
    return df_subItems, df_vehicles #CHANGE9

# PROBABILISTIC APPROACH
<font color='darkorange'>A technique which makes probabilistic choices with hope of obtaining the global optimum. 
</font>

## GENETIC ALGORITHM:  
##### From: Paper[GGA_FALKENEUR]
<font color='rebeccapurple'>
Group Genetic Algorithm (GGA), is a modification to the genetic algorithm to suit the structure of grouping problems. We aim to find a good partition of a set, or to group together the elements of the set. 
4 Steps:

1. ENCODING: obtain initial population for each bin, by randomising the order of the items and applying the first ft algorithm. All the solutions are parents.
2. CROSSOVER: Has 5 sub-steps: 
    1. Select the same random crossing site in two parents (of the 4 parents chosen, select the highest ranked two).
    2. Injest the contents of the first parent at the cross section in at the second parent's cross section, creating children.
    3. Replicated elements are removed.  
    4. Adapt results such that constraints are adhered to. 
    5. Rank the fitness of the children.
3. MUTATION: Shuffle a small group of items among groups.
4. INVERSION: do a random bit swop.

NOTE: IT IS AN UNEDUATED SEARCH SPACE CREATED
</font>

## STEP 1: ENCODING
1. Generating the initial population for th $k$ bins. For $n$ items, generate $n$ parents. 
2. Apply first-fit algorithm to each of the $n$ lists. 
3. For each list, we generate a solution for each of the $k$ bins.
4. TABLE: $x$ = LIST$_i$ Bins, and $y$ = Items, filled with bin j accordingly. Where $i \epsilon n$, and $j \epsilon k$  
5. OUTPUT: A population of bins to which items are allocated
6. <font color='red'>NOTE: LISTS = THE VARIOUS COMBINATIONS OF FIRST FIT ALGORITHM APPLIED

#### Encoding Initial population

In [11]:
df_items

,item,size,bin,delivery_loc,delivery_time,delivery_dispatch,delivery_number,days_late
0,0,4,NaN,4,2,NaN,NaN,0
1,1,3,NaN,2,1,NaN,NaN,2
2,2,6,NaN,1,2,NaN,NaN,1
3,3,8,NaN,5,1,NaN,NaN,5
4,4,6,NaN,3,1,NaN,NaN,3
5,5,4,NaN,5,2,NaN,NaN,4
6,6,5,NaN,3,2,NaN,NaN,2
7,7,5,NaN,4,1,NaN,NaN,0
8,8,2,NaN,2,2,NaN,NaN,1
9,9,7,NaN,1,1,NaN,NaN,0

#### Split items according to delivery periods
Items into delivery times
Delivery time 1 and 2.

In [12]:
def delivery_split(df_original_items, del_time):
    df_items_order = df_original_items[df_original_items.loc[:, 'delivery_time'] == del_time]
    
    return df_items_order

In [13]:
#creates a list of new column names
def rename_col(num_cols):
    string = 'list'
    s1 = []
    for i in range(num_cols): # This is just to tell you how to create a list.
        updated_name = string + str(i)
        s1.append(updated_name)
    return s1

In [14]:
df_items_order1 = delivery_split(df_items,1)
df_items_order2 = delivery_split(df_items,2)
display(df_items_order1)
display(df_items_order2)

,item,size,bin,delivery_loc,delivery_time,delivery_dispatch,delivery_number,days_late
1,1,3,NaN,2,1,NaN,NaN,2
3,3,8,NaN,5,1,NaN,NaN,5
4,4,6,NaN,3,1,NaN,NaN,3
7,7,5,NaN,4,1,NaN,NaN,0
9,9,7,NaN,1,1,NaN,NaN,0

,item,size,bin,delivery_loc,delivery_time,delivery_dispatch,delivery_number,days_late
0,0,4,NaN,4,2,NaN,NaN,0
2,2,6,NaN,1,2,NaN,NaN,1
5,5,4,NaN,5,2,NaN,NaN,4
6,6,5,NaN,3,2,NaN,NaN,2
8,8,2,NaN,2,2,NaN,NaN,1

### CHECK PeNALTY RATIO

In [15]:
#NOTE: 
    #df_population is merely the population
    #
    #OUTPUT: had fitness row at the bottom and index of the items
def fitness(df_items,df_population,df_vehicles):
    df_population_original = df_population.copy()#copy of the original population set
    total_bins = df_vehicles.shape[0]#number of bins
    total_items = df_population.shape[0]#number of items
    num_parents = df_population.shape[1]
    list_items = list(df_population_original.index)#creates a list of the index values which represent the items
    df_population.index = list(range(0,total_items))#reindexes the populatioin to be ordered
    df_fitness = pd.DataFrame(np.zeros((1, total_items)))
    df_fitness.index = list(['fitness'])
    for i in range(num_parents):#for each parent in the population
        num_used_bins = 0#initialise the number of unused bins
        overfilled_bins = 0#initialise the number of overfilled bins
        for j in range(total_bins):
            total_item_size = 0#initialise the total item size for each bin accesses
            
            #get subset of the dataframe where for that particular list we have alll the items in the same bin
            df_temp = df_population[df_population.iloc[:,i]==j]#get all rows where that particular column has valuewith that bin value
            list_items_index = list(df_temp.index)#gets a list of the index (used to map item values) which are in that bin
            num_items_inBin = df_temp.shape[0]
            
            if num_items_inBin!=0:#items are allocated to that bin
                num_used_bins = num_used_bins + 1 #increase the number of used bins by one
                bin_size = df_vehicles.loc[j,'size']
                for k in range(num_items_inBin):
                    item_no = list_items[k]
                    item_size = df_items.loc[item_no,'size']
                    total_item_size = total_item_size + item_size
                #check if the bin is overfilled
                if total_item_size>bin_size:#overfilled
                    overfilled_bins= overfilled_bins +1
        #tardiness evaluation
        df_undelivered_items = df_population[df_population.iloc[:,i]==np.nan]
        num_undelivered_items = df_undelivered_items.shape[0]
        if num_undelivered_items!=0:
            tardiness_days=0
            for n in range(num_undelivered_items):
                item_no = list_items[n]
                days_overdue = df_items.loc[item_no,'days_late']
                tardiness_days = tardiness_days + days_overdue
            tardiness_cost = 100*(6**(tardiness_days/total_item))
        elif num_undelivered_items==0:
            tardiness_cost=0
        #assign fitness value to that parent
        if overfilled_bins!=0:
            overfilled_bins_cost = 300+(8**(overfilled_bins/num_used_bins))
        elif overfilled_bins==0:
            overfilled_bins_cost=0
        #bin_usage_cost
        bin_usage_cost = 2**(num_used_bins/total_bins)
        #total_cost
        total_cost = overfilled_bins_cost + tardiness_cost + bin_usage_cost
        df_fitness.iloc[0,i] = total_cost
    #rearange the parents according to fitness(ascending order)
    df_population.index = list_items
    frames = [df_population, df_fitness]
    df_pop_fitness = pd.concat(frames)
    df_pop_fitness = df_pop_fitness.T.sort_values('fitness', ascending=True).T
    df_pop_fitness.columns = range(0,total_items)
    return df_pop_fitness

In [16]:
#INPUT: vehicle dataframe - vehicles and its capacity (constaing k vehicles)
    #   subest of item dataframe (order number specific)- item size
#OUTPUT: an initial population - items that have been allocated to vairous bins

#####
#Take in a subset of items (constaining n items) that have the same preferred delivery time.
#Create a data frame of size [n,n]
#Filling each column corresponding to the items with a bin to which it is allocated.
    #The filling of the bin entails shuffling the order of items and bin order and applying the first fit algorithm
#####
def encoding(df_subset_items,df_items, df_vehicles):
    num_items = df_subset_items.shape[0] #number of items in subset of items
    num_vehicles = df_vehicles.shape[0]#number of bins
   
    initial_population = pd.DataFrame(np.zeros((num_items, num_items))) #initialise a new dataframe of size of the number of total items, add row for fitness evaluation
    initial_population.index = df_subset_items.index #setting the index of the new dataframe to be the same as the subset of items (so that the index represents the items)    
   
    #use 1d first fit
    for i in range(num_items):

        df_subset_items_copy = df_subset_items.copy()# make a copy of the item list
        df_vehicles_copy = df_vehicles.copy()# make a copy of the bin list
        df_subset_items_copy_temp = shuffle(df_subset_items_copy) #shuffle the copy of items
        df_vehicles_copy_temp = shuffle(df_vehicles_copy) #shuffle the copy of vehicles

        df_subset_items_binned, df_vehicles_binned = first_fit(df_subset_items_copy_temp,df_vehicles_copy_temp) #assigns items to bins using ff
        df_subset_items_binned.sort_values(by=['item'], ascending=[True],inplace=True)#sorts items from shuffled state to ascending value
        initial_population.iloc[:,i] = df_subset_items_binned.loc[:,'bin']
        initial_population_fitness = fitness(df_items,initial_population,df_vehicles)    
    
    return initial_population_fitness

In [17]:
initial_population = encoding(df_items_order1,df_items, df_vehicles)

In [18]:
initial_population

           0    1    2      3           4
1        0.0  1.0  1.0    2.0    2.000000
3        0.0  2.0  NaN    NaN    0.000000
4        2.0  NaN  0.0    2.0         NaN
7        1.0  0.0  0.0    1.0    2.000000
9        NaN  0.0  2.0    0.0         NaN
fitness  2.0  2.0  2.0  304.0  304.415828

In [19]:
initial_population.iloc[5,4]

304.4158281767144

### CROSSOVER AND MUTATION
1. From the selection of the parents, select 4, from these 4, select the best two.
2. At a random cross point location, cross the parents over. Producing two children. Select the best child.
3. This is only done for some number of parents.
4. The rest of the parents are carried forward to the next generation.
5. At a random spot, if probability favourable for mutation, carry out mutation. Mutation entails putting an item in a randomly selcted bin or not dispatching the item (np.nan).

## THE GENETIC ALGORITHM IMPLEMENTATION
1. Encode a population
2. Evalutate the populations fitness
3. For some number of iterations generate the next generation
4. For some number of crossovers we want to perform
5. Randomly select two parents from the population set
6. Select the better parent of the 2, twice to obtain two parents, A and B,  to crossover
7. Randomly select a point of crossover, and crossover the parents A and B, procuding two children, C1 and C2, select the better of the two

In [20]:
#INPUT: delivery round subset list, item list and vehicle list
def genatic_algorithm(df_subset_items,df_items,df_vehicles):
    #generate the initial population with fitness values in the last row:
    population_fitness = encoding(df_subset_items,df_items,df_vehicles)
    
    num_parents = df_subset_items.shape[0]#number of items in the felivery order round
    num_iterations= 2
    num_crossovers = 4#andint(0,num_parents-1)+1#atleat one crossover, with a maximum of the num of parents
    parent_list = list([0,0])#parent index holder
    df_children = pd.DataFrame(np.zeros((num_parents,2)))
    df_children.index = df_subset_items.index
    for i in range(num_iterations):
        for k in range(num_crossovers):
            
            for j in range(2):#selecting two parents
                parent1 = 1
                parent2 = 1
                while parent1 == parent2:
                    parent1 = floor(random.uniform(0,1)*num_parents)
                    parent2 = floor(random.uniform(0,1)*num_parents)
                if population_fitness.loc['fitness', parent1]<population_fitness.loc['fitness', parent2]:
                    parent_list[j] = parent1
                else:
                    parent_list[j] = parent2
            
            #performing crossover of parents and evaluating children dataframe, which contains the of springs
            
            #random selection of crossing point
            cross_over_point = randint(1,num_parents-2)#from the 2nd to 2nd last 
            
            #crossover
            df_children.iloc[0:cross_over_point,0] = population_fitness.iloc[0:cross_over_point,parent_list[0]]#chil1_top = parent1_top
            df_children.iloc[cross_over_point+1:num_parents, 0] = population_fitness.iloc[cross_over_point+1:num_parents,parent_list[1]]#chil1_bottom = parent2_bottom
            df_children.iloc[0:cross_over_point,1] = population_fitness.iloc[0:cross_over_point,parent_list[1]]#child2_top = parent2_top
            df_children.iloc[cross_over_point+1:num_parents, 1] = population_fitness.iloc[cross_over_point+1:num_parents,parent_list[0]]#chil1_bottom = parent2_bottom
            df_children_fitness = fitness(df_items, df_children, df_vehicles)#evaluate fitness of children
            
            #Replace highest fittest child with lower parent
            if population_fitness.loc['fitness', parent_list[0]]<= population_fitness.loc['fitness', parent_list[1]]:
                population_fitness.iloc[:,parent_list[0]] = df_children_fitness.iloc[:,0]
            else:
                population_fitness.iloc[:,parent_list[1]] = df_children_fitness.iloc[:,0]
            
    #Once final generation is obtained, run fitness test
    df_final_population = fitness(df_items, population_fitness.iloc[0:num_parents,:], df_vehicles)
    return df_final_population

In [21]:
pop =  genatic_algorithm(df_items_order1,df_items,df_vehicles)

In [22]:
pop

           0    1    2           3           4
1        NaN  NaN  NaN    2.000000    2.000000
3        NaN  NaN  NaN         NaN    0.000000
4        NaN  NaN  NaN    2.000000         NaN
7        NaN  NaN  NaN    0.000000    2.000000
9        NaN  NaN  NaN    0.000000         NaN
fitness  1.0  1.0  1.0  304.415828  304.415828

In [23]:
def binPacking_GA(df_subset_items, df_items, df_vehiclese):
    #generate population
    df_population = genatic_algorithm(df_subset_items, df_items, df_vehicles)
    #eliminate all columns which have nan(all undelivered items)
    num_items = df_subset_items.shape[0]
    df_del_pop = df_population.iloc[0:num_items].dropna(axis=1,how='all')
    cols = list(df_del_pop.columns)
    
    if len(cols)==0:
        print('No Feasible Solution')
        
    else:
        fittest_parent_index = cols[0]
        df_subset_items.loc[:,'bin'] = df_del_pop.loc[:,fittest_parent_index]
        df_subset_items.loc[:,'delivery_dispatch'] =  df_subset_items.loc[:,'delivery_time']
        #get indicies of all undelivered items
        index =list( df_del_pop[fittest_parent_index].index[df_del_pop[fittest_parent_index].apply(np.isnan)])
        for i in range(len(index)):
            df_subset_items.loc[index[i],'days_late'] = (df_subset_items.loc[index[i],'days_late'])+1
            df_subset_items.loc[index[i],'delivery_dispatch'] = np.nan
        return df_subset_items

In [24]:
output = binPacking_GA(df_items_order1,df_items,df_vehicles)
output

/home/krupa/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,item,size,bin,delivery_loc,delivery_time,delivery_dispatch,delivery_number,days_late
1,1,3,0.0,2,1,1.0,NaN,2
3,3,8,0.0,5,1,1.0,NaN,5
4,4,6,NaN,3,1,NaN,NaN,4
7,7,5,1.0,4,1,1.0,NaN,0
9,9,7,2.0,1,1,1.0,NaN,0

In [25]:
df_final_pop = pop

In [26]:
num_items = df_final_pop.shape[1]
num_items

5

In [27]:
df_pop = df_final_pop.iloc[0:num_items,:]
df_pop

    0   1   2    3    4
1 NaN NaN NaN  2.0  2.0
3 NaN NaN NaN  NaN  0.0
4 NaN NaN NaN  2.0  NaN
7 NaN NaN NaN  0.0  2.0
9 NaN NaN NaN  0.0  NaN

In [28]:
i = 0
df_undelivered = df_pop[df_pop.iloc[:,i]==np.nan]
num_undelivered = df_undelivered.shape[0]
display(df_undelivered)
# print(num_undelivered)

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [29]:
df_pop

    0   1   2    3    4
1 NaN NaN NaN  2.0  2.0
3 NaN NaN NaN  NaN  0.0
4 NaN NaN NaN  2.0  NaN
7 NaN NaN NaN  0.0  2.0
9 NaN NaN NaN  0.0  NaN

In [30]:
df_pop.loc[df_pop[0]==np.nan]

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [31]:
df = df_pop.dropna(axis=1, how='all')
df

     3    4
1  2.0  2.0
3  NaN  0.0
4  2.0  NaN
7  0.0  2.0
9  0.0  NaN

In [32]:
col = list(df.columns)
col

[3, 4]

In [33]:
df_fin = pop.iloc[:,col]
df_fin

                  3           4
1          2.000000    2.000000
3               NaN    0.000000
4          2.000000         NaN
7          0.000000    2.000000
9          0.000000         NaN
fitness  304.415828  304.415828

In [34]:
def call(i):
    if i>5:
        return i*2, i+2
    else:
        m = print('sorry')
        n = print('really')
        return m,n

In [35]:
k,j = call(4)
print(k)
print(j)

sorry
really
None
None

In [36]:
index =list( df_fin[2].index[df_fin[2].apply(np.isnan)])
index

KeyError: 2

In [ ]:
df_fin.loc[3,2].dropna(axis=0,how='any')
df_fin