# The Traveling Salesman Problem (TSP)
#### The TSP depicts a salesman who has to visit $n$ cities, returning to it's start  (home)  city, whilst not visiting any of the nodes more than once. 
Store data in an adjacency matrix.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math 
from math import floor
from random import randint
import csv as csv
#to shuffle dataframe
from sklearn.utils import shuffle 
from IPython.display import display, HTML
import scipy 
from scipy.misc import comb # comb(n,k, exact=True)
from math import inf
# from scipy import special
# from scipy.special import comb
CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [2]:
city_dist = 'city'
def read_data(fileName):
    df = pd.read_csv(fileName)
    return df
    
def check_packaging(df):
    rows, cols = df.shape #size of the data set
    return (rows, cols)

def data_check(df, n=3):
    df_top_n = df.head(n)
    return (df_top_n)

def check_ns(df):
    ns = df.describe()
    return ns

In [3]:
df_cityDist = read_data('%s.csv'%city_dist)
print("rows(%s) x cols(%s) "%check_packaging(df_cityDist))
print()
print("%s"%data_check(df_cityDist))
print()
print(check_ns(df_cityDist))
print()
num_cities = df_cityDist.shape[0]
# df_cityDist.set_index('city')
print('Number of cities including depot: ', num_cities)

rows(6) x cols(6)

     0    1    2    3    4   5
0  NaN  NaN  1.0  3.0  NaN NaN
1  NaN  NaN  2.0  3.0  1.0 NaN
2  1.0  2.0  NaN  4.0  NaN NaN

              0    1         2         3    4    5
count  2.000000  3.0  4.000000  4.000000  1.0  2.0
mean   2.000000  2.0  2.250000  3.000000  1.0  2.0
std    1.414214  1.0  1.258306  0.816497  NaN  0.0
min    1.000000  1.0  1.000000  2.000000  1.0  2.0
25%    1.500000  1.5  1.750000  2.750000  1.0  2.0
50%    2.000000  2.0  2.000000  3.000000  1.0  2.0
75%    2.500000  2.5  2.500000  3.250000  1.0  2.0
max    3.000000  3.0  4.000000  4.000000  1.0  2.0

Number of cities including depot:  6


#### Initilaiization of dataframes which are used to account for verticies visited and calculate distance travelled
NOTE: the $0^{th}$ vertex is the start/depot vertex

In [4]:
distances = pd.DataFrame(np.zeros((num_cities,1)))# The distance from Vertex i to the next vertex
possible = pd.DataFrame(np.zeros((num_cities,1)))# Accounts for the vertices that have been visited
possible.loc[:,:] = True
terminal_set = pd.DataFrame(np.zeros((num_cities,1)))# The set/ordering of vertices that are encountered on the route

distances.rename(columns={0: 'distances'}, inplace=True)
possible.rename(columns={0: 'possible'}, inplace=True)
terminal_set.rename(columns={0: 'terminal_set'}, inplace=True)

display(distances)
display(possible)
display(terminal_set)
display(df_cityDist)

   distances
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0

   possible
0      True
1      True
2      True
3      True
4      True
5      True

   terminal_set
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0

     0    1    2    3    4    5
0  NaN  NaN  1.0  3.0  NaN  NaN
1  NaN  NaN  2.0  3.0  1.0  NaN
2  1.0  2.0  NaN  4.0  NaN  NaN
3  3.0  3.0  4.0  NaN  NaN  2.0
4  NaN  1.0  NaN  NaN  NaN  2.0
5  NaN  NaN  2.0  2.0  NaN  NaN

In [5]:
# for i in range(num_cities):
#     df_cityDist.iloc[i,i] = inf
# df_cityDist
# for i in range(num_cities):
#     df_cityDist.iloc[i,i] = inf
# df_cityDist
# df_cityDist.fillna(inf,inplace = True)
# df_cityDist = df_cityDist.replace(np.nan, inf)
df_cityDist.fillna(inf,inplace = True)
# df_cityDist = df_cityDist.replace(np.nan, inf)
df_cityDist

          0         1         2         3         4         5
0       inf       inf  1.000000  3.000000       inf       inf
1       inf       inf  2.000000  3.000000  1.000000       inf
2  1.000000  2.000000       inf  4.000000       inf       inf
3  3.000000  3.000000  4.000000       inf       inf  2.000000
4       inf  1.000000       inf       inf       inf  2.000000
5       inf       inf  2.000000  2.000000       inf       inf

DistPsuedo-code for nearest neighbour algorithm:
1. From start node (V0), find the nearest neighbour (Vn). In the zeroth row from col 1:end find the smallest distance.
2. Put the next visited neighbour in the terminal set -> T. Add the new vertes  to the the possible set -> P. (Note: this must be assigned to Vn)
3. Do this while D(V0) = 0

In [6]:
# distances = pd.DataFrame(np.zeros((num_cities,1)))# The distance from Vertex i to the next vertex
# possible = pd.DataFrame(np.zeros((num_cities,1)))# Accounts for the vertices that have been visited
# possible.iloc[:,:] = True
# terminal_set = pd.DataFrame(np.zeros((num_cities,1)))# The set/ordering of vertices that are encountered on the route

# distances.rename(columns={0: 'distances'}, inplace=True)
# possible.rename(columns={0: 'possible'}, inplace=True)
# terminal_set.rename(columns={0: 'terminal_set'}, inplace=True)
    
# def nearest_neighbour(adj_mat, num_cities, distances, possible,terminal_set):#take in the adjacency matrix
#     #define possible marix, distance matric and terminal set 
#     count = 0
#     new_curr = 0 #depot is the first vertex
#     while possible.iloc[0,0]== True: 
#         if count < num_cities-1:
#             curr = new_curr
#             nearest_vertex = adj_mat.iloc[curr,1:].idxmin()#gives the minimum values index ie column
#             nearest_vertex = int(nearest_vertex)
#             if possible.iloc[nearest_vertex,0]==True: 
#                 dist = adj_mat.iloc[curr,nearest_vertex]
#                 distances.iloc[nearest_vertex,0] = dist
#                 possible.iloc[nearest_vertex,0]=False
#                 terminal_set.iloc[count,0] = nearest_vertex
#                 adj_mat.iloc[:,nearest_vertex] = inf
#                 new_curr = nearest_vertex
#                 count = count+1
#         elif count == num_cities-1:
#             curr = new_curr
#             nearest_vertex = 0
#             dist = adj_mat.iloc[curr,0]
#             distances.iloc[0,0] = dist
#             possible.iloc[0,0] = False
#             terminal_set.iloc[count,0] = 0
#     return terminal_set, distances

In [7]:
#changes for all cases
    #case 1: if nearest node is visited
    #case 2:
distances = pd.DataFrame(np.zeros((num_cities,1)))# The distance from Vertex i to the next vertex
possible = pd.DataFrame(np.zeros((num_cities,1)))# Accounts for the vertices that have been visited
possible.iloc[:,:] = True
terminal_set = pd.DataFrame(np.zeros((num_cities,1)))# The set/ordering of vertices that are encountered on the route

distances.rename(columns={0: 'distances'}, inplace=True)
possible.rename(columns={0: 'possible'}, inplace=True)
terminal_set.rename(columns={0: 'terminal_set'}, inplace=True)
    
def nearest_neighbour(adj_mat, num_cities, distances, possible,terminal_set):#take in the adjacency matrix
    #define possible marix, distance matric and terminal set 
    count = 0
    new_curr = 0 #depot is the first vertex
    while possible.iloc[0,0]== True and count<num_cities: 
        if count < num_cities-1:
            curr = new_curr
            nearest_vertex = adj_mat.iloc[curr,1:].idxmin()#gives the minimum values index ie column
            nearest_vertex = int(nearest_vertex)
            if possible.iloc[nearest_vertex,0]==True: #if the next vertex is not used
                dist = adj_mat.iloc[curr,nearest_vertex]
                distances.iloc[count,0] = dist
                possible.iloc[nearest_vertex,0]=False
                terminal_set.iloc[count,0] = nearest_vertex
                adj_mat.iloc[:,nearest_vertex] = inf
                new_curr = nearest_vertex
                count = count+1
            elif possible.iloc[nearest_vertex,0]==False:#if the next vertex is used
                adj_mat.iloc[curr,nearest_vertex]=inf
        elif count == num_cities-1:
            curr = new_curr
            nearest_vertex = 0
            dist = adj_mat.iloc[curr,0]
            distances.iloc[count,0] = dist
            possible.iloc[0,0] = False
            terminal_set.iloc[count,0] = 0
    return terminal_set, distances

In [8]:
terminal_set, distances = nearest_neighbour(df_cityDist, num_cities, distances, possible, terminal_set)
display(terminal_set)
display(distances)

   terminal_set
0           2.0
1           1.0
2           4.0
3           5.0
4           3.0
5           0.0

   distances
0        1.0
1        2.0
2        1.0
3        2.0
4        2.0
5        3.0