# BIN PACKING PROBLEM

## Two dimesional

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math 
import csv as csv

### Read-in and check data

In [2]:
items = 'items2D'
bins = 'bins2D'

def read_data(fileName):
    df = pd.read_csv(fileName)
    return df
    
def check_packaging(df):
    rows, cols = df.shape #size of the data set
    return (rows, cols)

def data_check(df, n=3):
    df_top_n = df.head(n)
    return (df_top_n)

def check_ns(df):
    ns = df.describe()
    return ns

ITEM DATA:

In [3]:
df_items = read_data('%s.csv'%items)
print("rows(%s) x cols(%s) "%check_packaging(df_items))
print()
print("%s"%data_check(df_items))
print()
print(check_ns(df_items))
print()
df_items.set_index('item')

rows(7) x cols(4)

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN

           item    x_size    y_size  bin
count  7.000000  7.000000  7.000000  0.0
mean   3.000000  3.000000  2.428571  NaN
std    2.160247  1.632993  2.507133  NaN
min    0.000000  1.000000  1.000000  NaN
25%    1.500000  2.000000  1.000000  NaN
50%    3.000000  3.000000  2.000000  NaN
75%    4.500000  3.500000  2.000000  NaN
max    6.000000  6.000000  8.000000  NaN

      x_size  y_size  bin
item
0          4       2  NaN
1          3       1  NaN
2          6       8  NaN
3          3       2  NaN
4          2       1  NaN
5          1       1  NaN
6          2       2  NaN

In [4]:
df_vehicles = read_data('%s.csv'%bins)
print("VEHICLE DETAILS:")
print("rows(%s) x cols(%s) "%check_packaging(df_vehicles))
print()
print("%s"%data_check(df_vehicles))
print()
print(check_ns(df_vehicles))
print()
df_vehicles.set_index('bin')

VEHICLE DETAILS:
rows(3) x cols(5)

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

       bin  x_size    y_size  av_x_space  av_y_space
count  3.0     3.0  3.000000         3.0    3.000000
mean   1.0     7.0  4.666667         7.0    4.666667
std    1.0     2.0  1.527525         2.0    1.527525
min    0.0     5.0  3.000000         5.0    3.000000
25%    0.5     6.0  4.000000         6.0    4.000000
50%    1.0     7.0  5.000000         7.0    5.000000
75%    1.5     8.0  5.500000         8.0    5.500000
max    2.0     9.0  6.000000         9.0    6.000000

     x_size  y_size  av_x_space  av_y_space
bin
0         9       6           9           6
1         5       3           5           3
2         7       5           7           5

In [5]:
list(df_items)

['item', 'x_size', 'y_size', 'bin']

# GREEDY APPROACH

## Fit algorithms:  
### First-fit algorithm:
Algorithm scans the bins for the first bin which has a large enough space to fit the item. If the current bin has adequate space, the items is allocated to the bin, else the next bin is checked. For the next item, we iterate the bins from the FIRST bin (hence first fit algorithm).

In [6]:
def first_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size_x = df_items.iat[i,1]
        item_size_y = df_items.iat[i,2]
        while j<= number_of_bins and item_allocated == False:
            available_bin_space_x = df_vehicles.iat[j,3]
            available_bin_space_y = df_vehicles.iat[j,4]
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,3] = df_vehicles.iat[j,3] - item_size_x #update avialable space in x direction
                df_vehicles.iat[j,4] = df_vehicles.iat[j,4] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,3] = bin_num#set the allocated bin for the item
            elif available_bin_space_x < item_size_x or available_bin_space_y < item_size_y: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,3] = np.nan
    return df_items, df_vehicles

In [7]:
#counts the number of unused bins after allocating  items
def unused_bin_2D(df_vehicles):
    number_of_bins = df_vehicles.shape[0]
    count = 0
    for i in range(number_of_bins):
        if df_vehicles.iloc[i][1] == df_vehicles.iloc[i][3] and df_vehicles.iloc[i][2] == df_vehicles.iloc[i][4]:
            count = count + 1
        else:
            count = count 
            return count

#### First-fit algorithm: UNSORTED LISTS

In [8]:
df_items_copy1 = df_items.copy()
df_items_copy1

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [9]:
df_vehicles_copy1 = df_vehicles.copy()
df_vehicles_copy1

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [10]:
df_items_copy1, df_vehicles_copy1 = first_fit_2D(df_items_copy1, df_vehicles_copy1)
number_unused_vehicles1 = unused_bin_2D

In [11]:
print('Item allocation to bins:')
df_items_copy1

Item allocation to bins:

   item  x_size  y_size  bin
0     0       4       2  0.0
1     1       3       1  0.0
2     2       6       8  NaN
3     3       3       2  1.0
4     4       2       1  0.0
5     5       1       1  1.0
6     6       2       2  2.0

In [12]:
print('Remaining space in bins:')
df_vehicles_copy1

Remaining space in bins:

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           0           2
1    1       5       3           1           0
2    2       7       5           5           3

In [13]:
print('Number of unused vehicles:')
number_unused_vehicles1

Number of unused vehicles:

#### First-fit algorithm:  DESCENDING SORTED LISTS of bins and items.

In [14]:
df_items_copy2 = df_items.copy()
df_items_copy2 = df_items_copy2.sort_values(by='x_size', ascending=0)
df_items_copy2 = df_items_copy2.reset_index(drop=True)#NOTE: We reset the index otherwise index items as original set, the item number and index value are now different!
df_items_copy2

   item  x_size  y_size  bin
0     2       6       8  NaN
1     0       4       2  NaN
2     1       3       1  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     6       2       2  NaN
6     5       1       1  NaN

In [15]:
df_vehicles_copy2 = df_vehicles.copy()
df_vehicles_copy2 = df_vehicles_copy2.sort_values(by='x_size', ascending=0)#ordering by x size
df_vehicles_copy2 = df_vehicles_copy2.reset_index(drop=True)
df_vehicles_copy2.set_index('bin')
df_vehicles_copy2

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    2       7       5           7           5
2    1       5       3           5           3

In [16]:
df_items_copy2, df_vehicles_copy2 = first_fit_2D(df_items_copy2, df_vehicles_copy2)
number_unused_vehicles2 = unused_bin_2D(df_vehicles_copy2)

In [17]:
df_items_copy2

   item  x_size  y_size  bin
0     2       6       8  NaN
1     0       4       2  0.0
2     1       3       1  0.0
3     3       3       2  2.0
4     4       2       1  0.0
5     6       2       2  2.0
6     5       1       1  2.0

In [18]:
df_vehicles_copy2

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           0           2
1    2       7       5           1           0
2    1       5       3           5           3

In [19]:
print('Number of unused vehicles:')
number_unused_vehicles2

Number of unused vehicles:

0

#### First-fit algorithm: ASCENDING  SORTED item and bin list.

In [20]:
df_items_copy3 = df_items.copy()
df_items_copy3 = df_items_copy3.sort_values(by='x_size', ascending=1)
df_items_copy3 = df_items_copy3.reset_index(drop=True)
df_items_copy3

   item  x_size  y_size  bin
0     5       1       1  NaN
1     4       2       1  NaN
2     6       2       2  NaN
3     1       3       1  NaN
4     3       3       2  NaN
5     0       4       2  NaN
6     2       6       8  NaN

In [21]:
df_vehicles_copy3 = df_vehicles.copy()
df_vehicles_copy3 = df_vehicles_copy3.sort_values(by='x_size', ascending=1).reset_index(drop=True)
df_vehicles_copy3

   bin  x_size  y_size  av_x_space  av_y_space
0    1       5       3           5           3
1    2       7       5           7           5
2    0       9       6           9           6

In [25]:
df_items_copy3, df_vehicles_copy3 = first_fit_2D(df_items_copy3, df_vehicles_copy3)
number_unused_vehicles3 = unused_bin_2D(df_vehicles_copy3)

In [26]:
df_items_copy3

   item  x_size  y_size  bin
0     5       1       1  1.0
1     4       2       1  1.0
2     6       2       2  2.0
3     1       3       1  2.0
4     3       3       2  0.0
5     0       4       2  0.0
6     2       6       8  NaN

In [27]:
df_vehicles_copy3

   bin  x_size  y_size  av_x_space  av_y_space
0    1       5       3           2           1
1    2       7       5           2           2
2    0       9       6           2           2

In [28]:
print('Number of unused vehicles:')
number_unused_vehicles3

Number of unused vehicles:

0

### Next-fit algorithm
Next Fit: After allocating first bin large enough to house the item, when looking at the next item to be allocated, find the next suitable bin from the current bin. NOT starting from the very first bin. Check from the next bin in a loop, and stop at the bin before the last allocated. Search space from current in a loop to the previous.

In [29]:
def next_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    j = 0
    for i in range(number_of_items):
        item_allocated = False
        item_size_x = df_items.iat[i,1]
        item_size_y = df_items.iat[i,2]
        while item_allocated == False and j<= number_of_bins:
            available_bin_space_x = df_vehicles.iat[j,3]
            available_bin_space_y = df_vehicles.iat[j,4]
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,3] = df_vehicles.iat[j,3] - item_size_x #update avialable space in x direction
                df_vehicles.iat[j,4] = df_vehicles.iat[j,4] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,3] = bin_num #set the allocated bin for the item
                j_curr = j
            elif available_bin_space_x < item_size_x or available_bin_space_y < item_size_y: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    j = 0
                    if j_curr == j:
                        item_allocated = True
                        df_items.iat[i,3] = np.nan
                        j = j_curr
    return df_items, df_vehicles

In [30]:
df_items_copy4 = df_items.copy()
df_items_copy4

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [31]:
df_vehicles_copy4 = df_vehicles.copy()
df_vehicles_copy4

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [32]:
df_items_copy4, df_vehicles_copy4 = next_fit_2D(df_items_copy4, df_vehicles_copy4)

In [33]:
df_items_copy4

   item  x_size  y_size  bin
0     0       4       2  0.0
1     1       3       1  0.0
2     2       6       8  NaN
3     3       3       2  1.0
4     4       2       1  1.0
5     5       1       1  2.0
6     6       2       2  2.0

In [34]:
df_vehicles_copy4

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           2           3
1    1       5       3           0           0
2    2       7       5           4           2

### Best-fit algorithm
Best Fit: Allocating item to a in such that there is minimum wastage of space is left in in the bin.

In [44]:
def best_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size_x = df_items.iat[i,1]
        item_size_y = df_items.iat[i,2]
        df_vehicles = df_vehicles.sort_values(by='x_size', ascending=1).reset_index(drop=True)#after each iteration, order bins as per min space, so less wastage
        while j<= number_of_bins and item_allocated == False:
            available_bin_space_x = df_vehicles.iat[j,3]
            available_bin_space_y = df_vehicles.iat[j,4]
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,3] = df_vehicles.iat[j,3] - item_size_x #update avialable space in x direction
                df_vehicles.iat[j,4] = df_vehicles.iat[j,4] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,3] = bin_num#set the allocated bin for the item
            elif available_bin_space_x < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,3] = np.nan
    return df_items, df_vehicles

In [45]:
df_items_copy5 = df_items.copy()
df_items_copy5

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [46]:
df_vehicles_copy5 = df_vehicles.copy()
df_vehicles_copy5

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [43]:
df_items_copy5, df_vehicles_copy5 = best_fit_2D(df_items_copy5, df_vehicles_copy5)

KeyError: 'available_space_x'

In [ ]:
df_items_copy5

In [ ]:
df_vehicles_copy5

### Worst-fit algorithm
Worst Fit: Allocating item to a bin such that there is maximum wastage of space is left in in the bin.

In [ ]:
def worst_fit(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size = df_items.iat[i,1]
        df_vehicles = df_vehicles.sort_values(by='available_space', ascending=0).reset_index(drop=True)#after each iteration, order bins as per min space, so less wastage
        while j<= number_of_bins and item_allocated == False:
            available_bin_space = df_vehicles.iat[j,2]
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,2] = df_vehicles.iat[j,2] - item_size #update avialable space
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,2] = bin_num#set the allocated bin for the item
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,2] = np.nan
    return df_items, df_vehicles

In [ ]:
df_items_copy6 = df_items.copy()
df_items_copy6

In [ ]:
df_vehicles_copy6 = df_vehicles.copy()
df_vehicles_copy6

In [ ]:
df_items_copy6, df_vehicles_copy6 = worst_fit(df_items_copy6, df_vehicles_copy6)

In [ ]:
df_items_copy6

In [ ]:
df_vehicles_copy6

# Two Dimensional

# Metaheurastic techniques:
## Genetic algorithm

The genetic algorithm (GA) is a method for solving both constrained and unconstrained optimization problems that is based on natural selection - which is based on the Darwanian theory. The genetic algorithm repeatedly modifies a population of individual solutions, with the objective of obtaining a best solution. 

#### Process: 
1.Check fitness
2.Selection
3.Crosover
4.Mutation

#### Initial population
Generate using a greedy approach. We use the number of used bins to be the upperbound.

#### Functions:

In [ ]:
#SELECTION FUNCTION
#