
# BIN PACKING PROBLEM
<font color='orange'>The Bin Packing Proble (BPP) component entails packing the $n$ deliverable items into the minimum number of bins without exceeding its fixed capacity and has the minimum wastage of space.
 In this case our bins are the subset of available delivery vehicles, into which the items are to be packed.
Note, not all the items that are required to be distributed are the same in size.</font>

# One dimesional
<font color='grass'>
In order to simplify the problem, we initially consider the problem to be one dimensional. Only one dimension of the item is not fixed, for example length, whilst the other two dimensions (width and height) remain constant.
</font>

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math 
import csv as csv

### Read-in and check data

In [2]:
items = 'items'
bins = 'bins'

def read_data(fileName):
    df = pd.read_csv(fileName)
    return df
    
def check_packaging(df):
    rows, cols = df.shape #size of the data set
    return (rows, cols)

def data_check(df, n=3):
    df_top_n = df.head(n)
    return (df_top_n)

def check_ns(df):
    ns = df.describe()
    return ns

### ITEM DATA:

In [3]:
df_items = read_data('%s.csv'%items)
print("rows(%s) x cols(%s) "%check_packaging(df_items))
print()
print("%s"%data_check(df_items))
print()
print(check_ns(df_items))
print()
df_items.set_index('item')

rows(7) x cols(3)

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN

           item      size  bin
count  7.000000  7.000000  0.0
mean   3.000000  3.000000  NaN
std    2.160247  1.632993  NaN
min    0.000000  1.000000  NaN
25%    1.500000  2.000000  NaN
50%    3.000000  3.000000  NaN
75%    4.500000  3.500000  NaN
max    6.000000  6.000000  NaN

      size  bin
item
0        4  NaN
1        3  NaN
2        6  NaN
3        3  NaN
4        2  NaN
5        1  NaN
6        2  NaN

### Vehicle or Bin data:

In [4]:
df_vehicles = read_data('%s.csv'%bins)
print("VEHICLE DETAILS:")
print("rows(%s) x cols(%s) "%check_packaging(df_vehicles))
print()
print("%s"%data_check(df_vehicles))
print()
print(check_ns(df_vehicles))
print()
df_vehicles.set_index('bin')

VEHICLE DETAILS:
rows(3) x cols(3)

   bin  size  available_space
0    0     9                9
1    1     3                3
2    2     4                4

       bin      size  available_space
count  3.0  3.000000         3.000000
mean   1.0  5.333333         5.333333
std    1.0  3.214550         3.214550
min    0.0  3.000000         3.000000
25%    0.5  3.500000         3.500000
50%    1.0  4.000000         4.000000
75%    1.5  6.500000         6.500000
max    2.0  9.000000         9.000000

     size  available_space
bin
0       9                9
1       3                3
2       4                4

# GREEDY APPROACH
<font color='orange'>A technique which makes locally optimal choices with hope of obtaining the global optimum. 
</font>

## Fit algorithms:  

### First-fit algorithm:
<font color='orange'>
Algorithm scans the bins for the first bin which has a large enough space to fit the item. If the current bin has adequate space, the items is allocated to the bin, else the next bin is checked. For the next item, we iterate the bins from the FIRST bin (hence first fit algorithm).
</font>

In [5]:
def first_fit(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size = df_items.iat[i,1]
        while j<= number_of_bins and item_allocated == False:
            available_bin_space = df_vehicles.iat[j,2]
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,2] = df_vehicles.iat[j,2] - item_size #update avialable space
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,2] = bin_num#set the allocated bin for the item
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,2] = np.nan
    return df_items, df_vehicles

In [6]:
#bin summary
def bin_summary(df_vehicles):
    number_of_bins = df_vehicles.shape[0]
    unused = 0
    partial = 0
    max_fill = 0
    for i in range(number_of_bins):
        av_space = df_vehicles.iloc[i][2]
        bin_size = df_vehicles.iloc[i][1]
        if av_space == bin_size:
            unused = unused + 1
        elif av_space == 0:
            max_fill = max_fill +1
        elif av_space < bin_size and av_space!=0:
            partial = partial+1
            
    print("Number of bins : %d" %(number_of_bins))
    print("Number of partial filled bins : %d" %(partial))
    print("Number of unused bins : %d" %(unused))
    print("Number of max filled bins : %d" %(max_fill))
    return None

#### First-fit algorithm: UNSORTED LISTS

In [7]:
df_items_copy1 = df_items.copy()
df_items_copy1

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN
3     3     3  NaN
4     4     2  NaN
5     5     1  NaN
6     6     2  NaN

In [8]:
df_vehicles_copy1 = df_vehicles.copy()
df_vehicles_copy1

   bin  size  available_space
0    0     9                9
1    1     3                3
2    2     4                4

In [9]:
df_items_copy1, df_vehicles_copy1 = first_fit(df_items_copy1, df_vehicles_copy1)

In [10]:
print('Item allocation to bins:')
df_items_copy1

Item allocation to bins:

   item  size  bin
0     0     4  0.0
1     1     3  0.0
2     2     6  NaN
3     3     3  1.0
4     4     2  0.0
5     5     1  2.0
6     6     2  2.0

In [11]:
print('Remaining space in bins:')
df_vehicles_copy1

Remaining space in bins:

   bin  size  available_space
0    0     9                0
1    1     3                0
2    2     4                1

In [12]:
bin_summary(df_vehicles_copy1)

Number of bins : 3
Number of partial filled bins : 1
Number of unused bins : 0
Number of max filled bins : 2

#### First-fit algorithm:  DESCENDING SORTED LISTS of bins and items.

In [13]:
df_items_copy2 = df_items.copy()
df_items_copy2 = df_items_copy2.sort_values(by='size', ascending=0)
df_items_copy2 = df_items_copy2.reset_index(drop=True)#NOTE: We reset the index otherwise index items as original set, the item number and index value are now different!
df_items_copy2

   item  size  bin
0     2     6  NaN
1     0     4  NaN
2     1     3  NaN
3     3     3  NaN
4     4     2  NaN
5     6     2  NaN
6     5     1  NaN

In [14]:
df_vehicles_copy2 = df_vehicles.copy()
df_vehicles_copy2 = df_vehicles_copy2.sort_values(by='size', ascending=0)
df_vehicles_copy2 = df_vehicles_copy2.reset_index(drop=True)
df_vehicles_copy2.set_index('bin')
df_vehicles_copy2

   bin  size  available_space
0    0     9                9
1    2     4                4
2    1     3                3

In [15]:
df_items_copy2, df_vehicles_copy2 = first_fit(df_items_copy2, df_vehicles_copy2)

In [16]:
df_items_copy2

   item  size  bin
0     2     6  0.0
1     0     4  2.0
2     1     3  0.0
3     3     3  1.0
4     4     2  NaN
5     6     2  NaN
6     5     1  NaN

In [17]:
df_vehicles_copy2

   bin  size  available_space
0    0     9                0
1    2     4                0
2    1     3                0

In [18]:
bin_summary(df_vehicles_copy2)

Number of bins : 3
Number of partial filled bins : 0
Number of unused bins : 0
Number of max filled bins : 3

#### First-fit algorithm: ASCENDING  SORTED item and bin list.

In [19]:
df_items_copy3 = df_items.copy()
df_items_copy3 = df_items_copy3.sort_values(by='size', ascending=1)
df_items_copy3 = df_items_copy3.reset_index(drop=True)
df_items_copy3

   item  size  bin
0     5     1  NaN
1     4     2  NaN
2     6     2  NaN
3     1     3  NaN
4     3     3  NaN
5     0     4  NaN
6     2     6  NaN

In [20]:
df_vehicles_copy3 = df_vehicles.copy()
df_vehicles_copy3 = df_vehicles_copy3.sort_values(by='size', ascending=1).reset_index(drop=True)
df_vehicles_copy3

   bin  size  available_space
0    1     3                3
1    2     4                4
2    0     9                9

In [21]:
df_items_copy3, df_vehicles_copy3 = first_fit(df_items_copy3, df_vehicles_copy3)

In [22]:
df_items_copy3

   item  size  bin
0     5     1  1.0
1     4     2  1.0
2     6     2  2.0
3     1     3  0.0
4     3     3  0.0
5     0     4  NaN
6     2     6  NaN

In [23]:
df_vehicles_copy3

   bin  size  available_space
0    1     3                0
1    2     4                2
2    0     9                3

In [24]:
bin_summary(df_vehicles_copy3)

Number of bins : 3
Number of partial filled bins : 2
Number of unused bins : 0
Number of max filled bins : 1

### Next-fit algorithm
<font color='orange'>After allocating first bin large enough to house the item, when looking at the next item to be allocated, find the next suitable bin from the current bin. NOT starting from the very first bin. Check from the next bin in a loop, and stop at the bin before the last allocated (current bin). The search space is from current bin to the previous in a loop.

In [25]:
def next_fit(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    j = 0
    for i in range(number_of_items):
        item_allocated = False
        item_size = df_items.iat[i,1]
        while item_allocated == False and j<= number_of_bins:
            available_bin_space = df_vehicles.iat[j,2]
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,2] = df_vehicles.iat[j,2] - item_size #update avialable space
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,2] = bin_num #set the allocated bin for the item
                j_curr = j
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    j = 0
                    if j_curr == j:
                        item_allocated = True
                        df_items.iat[i,2] = np.nan
                        j = j_curr
    return df_items, df_vehicles

In [26]:
df_items_copy4 = df_items.copy()
df_items_copy4

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN
3     3     3  NaN
4     4     2  NaN
5     5     1  NaN
6     6     2  NaN

In [27]:
df_vehicles_copy4 = df_vehicles.copy()
df_vehicles_copy4

   bin  size  available_space
0    0     9                9
1    1     3                3
2    2     4                4

In [28]:
df_items_copy4, df_vehicles_copy4 = next_fit(df_items_copy4, df_vehicles_copy4)

In [29]:
df_items_copy4

   item  size  bin
0     0     4  0.0
1     1     3  0.0
2     2     6  NaN
3     3     3  1.0
4     4     2  2.0
5     5     1  2.0
6     6     2  0.0

In [30]:
df_vehicles_copy4

   bin  size  available_space
0    0     9                0
1    1     3                0
2    2     4                1

In [31]:
bin_summary(df_vehicles_copy4)

Number of bins : 3
Number of partial filled bins : 1
Number of unused bins : 0
Number of max filled bins : 2

### Best-fit algorithm
<font color='orange'>Allocating item to a in such that there is minimum wastage of space is left in in the bin.
<\font>

In [32]:
def best_fit(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size = df_items.iat[i,1]
        df_vehicles = df_vehicles.sort_values(by='available_space', ascending=1).reset_index(drop=True)#after each iteration, order bins as per min space, so less wastage
        while j<= number_of_bins and item_allocated == False:
            available_bin_space = df_vehicles.iat[j,2]
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,2] = df_vehicles.iat[j,2] - item_size #update avialable space
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,2] = bin_num#set the allocated bin for the item
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,2] = np.nan
    return df_items, df_vehicles

In [33]:
df_items_copy5 = df_items.copy()
df_items_copy5

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN
3     3     3  NaN
4     4     2  NaN
5     5     1  NaN
6     6     2  NaN

In [34]:
df_vehicles_copy5 = df_vehicles.copy()
df_vehicles_copy5

   bin  size  available_space
0    0     9                9
1    1     3                3
2    2     4                4

In [35]:
df_items_copy5, df_vehicles_copy5 = best_fit(df_items_copy5, df_vehicles_copy5)

In [36]:
df_items_copy5

   item  size  bin
0     0     4  2.0
1     1     3  1.0
2     2     6  0.0
3     3     3  0.0
4     4     2  NaN
5     5     1  NaN
6     6     2  NaN

In [37]:
df_vehicles_copy5

   bin  size  available_space
0    2     4                0
1    1     3                0
2    0     9                0

In [38]:
bin_summary(df_vehicles_copy5)

Number of bins : 3
Number of partial filled bins : 0
Number of unused bins : 0
Number of max filled bins : 3

### Worst-fit algorithm
<font color='orange'>Allocating item to a bin such that there is maximum wastage of space is left in in the bin.
<\font>

In [39]:
def worst_fit(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size = df_items.iat[i,1]
        df_vehicles = df_vehicles.sort_values(by='available_space', ascending=0).reset_index(drop=True)#after each iteration, order bins as per min space, so less wastage
        while j<= number_of_bins and item_allocated == False:
            available_bin_space = df_vehicles.iat[j,2]
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,2] = df_vehicles.iat[j,2] - item_size #update avialable space
                bin_num = df_vehicles.iat[j,0]
                df_items.iat[i,2] = bin_num#set the allocated bin for the item
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,2] = np.nan
    return df_items, df_vehicles

In [40]:
df_items_copy6 = df_items.copy()
df_items_copy6

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN
3     3     3  NaN
4     4     2  NaN
5     5     1  NaN
6     6     2  NaN

In [41]:
df_vehicles_copy6 = df_vehicles.copy()
df_vehicles_copy6

   bin  size  available_space
0    0     9                9
1    1     3                3
2    2     4                4

In [42]:
df_items_copy6, df_vehicles_copy6 = worst_fit(df_items_copy6, df_vehicles_copy6)

In [43]:
df_items_copy6

   item  size  bin
0     0     4  0.0
1     1     3  0.0
2     2     6  NaN
3     3     3  2.0
4     4     2  1.0
5     5     1  0.0
6     6     2  NaN

In [44]:
df_vehicles_copy6

   bin  size  available_space
0    0     9                1
1    1     3                1
2    2     4                1

In [45]:
bin_summary(df_vehicles_copy6)

Number of bins : 3
Number of partial filled bins : 3
Number of unused bins : 0
Number of max filled bins : 0

In [46]:
#to shuffle dataframe
from sklearn.utils import shuffle 
df_items_copy7 = shuffle(df_items.copy())
df_items_copy7 = df_items_copy7.reset_index(drop=True)#NOTE: We reset the index otherwise index items as original set, the item number and index value are now different!
df_items_copy7

   item  size  bin
0     1     3  NaN
1     6     2  NaN
2     4     2  NaN
3     3     3  NaN
4     5     1  NaN
5     2     6  NaN
6     0     4  NaN

In [47]:
df_vehicles_copy7 = df_vehicles.copy()
df_vehicles_copy7

   bin  size  available_space
0    0     9                9
1    1     3                3
2    2     4                4

In [48]:
df_items_copy7, df_vehicles_copy7 = first_fit(df_items_copy7,df_vehicles_copy7)

In [49]:
df_items_copy7

   item  size  bin
0     1     3  0.0
1     6     2  0.0
2     4     2  0.0
3     3     3  1.0
4     5     1  0.0
5     2     6  NaN
6     0     4  2.0

In [50]:
df_vehicles_copy7

   bin  size  available_space
0    0     9                1
1    1     3                0
2    2     4                0

In [51]:
df_items_copy7 = df_items_copy7.sort_values(by = 'item').reset_index(drop=True)
df_items_copy7

   item  size  bin
0     0     4  2.0
1     1     3  0.0
2     2     6  NaN
3     3     3  1.0
4     4     2  0.0
5     5     1  0.0
6     6     2  0.0

# NEED TO DELETE>>> TESTING

In [52]:
newDF = pd.DataFrame()

In [53]:
newDF = newDF.append(df_items_copy7[:][['item','size']], ignore_index=False)

In [54]:
newDF

   item  size
0     0     4
1     1     3
2     2     6
3     3     3
4     4     2
5     5     1
6     6     2

In [55]:
df_items_copy7

   item  size  bin
0     0     4  2.0
1     1     3  0.0
2     2     6  NaN
3     3     3  1.0
4     4     2  0.0
5     5     1  0.0
6     6     2  0.0

In [56]:
result = pd.merge( df_items_copy7, newDF, on= ['item','size'])

In [57]:
result

   item  size  bin
0     0     4  2.0
1     1     3  0.0
2     2     6  NaN
3     3     3  1.0
4     4     2  0.0
5     5     1  0.0
6     6     2  0.0

In [58]:
df_items_copy5

   item  size  bin
0     0     4  2.0
1     1     3  1.0
2     2     6  0.0
3     3     3  0.0
4     4     2  NaN
5     5     1  NaN
6     6     2  NaN

In [59]:
df_items_copy4

   item  size  bin
0     0     4  0.0
1     1     3  0.0
2     2     6  NaN
3     3     3  1.0
4     4     2  2.0
5     5     1  2.0
6     6     2  0.0

In [60]:
resultnew = pd.merge(result, df_items_copy5, on = ['item', 'size'])

In [61]:
resultnew = pd.merge(resultnew, df_items_copy4, on = ['item','size'])

In [62]:
resultnew = pd.merge(resultnew, df_items_copy1, on = ['item','size'])

In [63]:
resultnew

   item  size  bin_x  bin_y  bin_x  bin_y
0     0     4    2.0    2.0    0.0    0.0
1     1     3    0.0    1.0    0.0    0.0
2     2     6    NaN    0.0    NaN    NaN
3     3     3    1.0    0.0    1.0    1.0
4     4     2    0.0    NaN    2.0    0.0
5     5     1    0.0    NaN    2.0    2.0
6     6     2    0.0    NaN    0.0    2.0

In [64]:
cols = resultnew.shape[0]

In [65]:
cols

7

In [66]:
col_name = list(resultnew)
col_name

['item', 'size', 'bin_x', 'bin_y', 'bin_x', 'bin_y']

In [67]:
j = col_name[-1]
string = 'list'
updated_string = string + str(cols)
# updated_string
# resultnew.rename(columns={'%s':'%s'} %(j,updated_string), inplace=True)

In [68]:
# resultnew.rename(columns={'bin_x':'new_name'}, inplace=True)

In [69]:
resultnew

   item  size  bin_x  bin_y  bin_x  bin_y
0     0     4    2.0    2.0    0.0    0.0
1     1     3    0.0    1.0    0.0    0.0
2     2     6    NaN    0.0    NaN    NaN
3     3     3    1.0    0.0    1.0    1.0
4     4     2    0.0    NaN    2.0    0.0
5     5     1    0.0    NaN    2.0    2.0
6     6     2    0.0    NaN    0.0    2.0

In [70]:
col_name

['item', 'size', 'bin_x', 'bin_y', 'bin_x', 'bin_y']

In [71]:
def rename_col(num_cols):
    string = 'list'
    s1 = []
    for i in range(num_cols): # This is just to tell you how to create a list.
        updated_name = string + str(i)
        s1.append(updated_name)
    return s1

In [72]:
cols
l = rename_col(cols)
l

['list0', 'list1', 'list2', 'list3', 'list4', 'list5', 'list6']

In [73]:
k = list(resultnew)
k

['item', 'size', 'bin_x', 'bin_y', 'bin_x', 'bin_y']

In [74]:
# resultnew.rename(columns = (k,l), inplace=True)

In [75]:
resultnew = resultnew.rename(columns={ resultnew.columns[1]: l[1] })

In [76]:
l[1]

'list1'

In [77]:
resultnew

   item  list1  bin_x  bin_y  bin_x  bin_y
0     0      4    2.0    2.0    0.0    0.0
1     1      3    0.0    1.0    0.0    0.0
2     2      6    NaN    0.0    NaN    NaN
3     3      3    1.0    0.0    1.0    1.0
4     4      2    0.0    NaN    2.0    0.0
5     5      1    0.0    NaN    2.0    2.0
6     6      2    0.0    NaN    0.0    2.0

In [78]:
# temp = resultnew.loc[resultnew['list1']==2]
v = 'list1'
temp = resultnew.loc[resultnew['%s'%(v)]==2]

In [79]:
c = 'item'
temp1 = temp.loc[:,'%s'%(c)].values

In [80]:
temp1

array([4, 6])

In [81]:
# resultnew.loc[2,'list1'] = temp1

In [82]:
temp1[0]

4

In [83]:
d = pd.DataFrame(np.zeros((5, 3)))
d

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

In [84]:
d.loc[2][0] = True
d

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  1.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

In [85]:
res = resultnew.copy()

In [86]:
res

   item  list1  bin_x  bin_y  bin_x  bin_y
0     0      4    2.0    2.0    0.0    0.0
1     1      3    0.0    1.0    0.0    0.0
2     2      6    NaN    0.0    NaN    NaN
3     3      3    1.0    0.0    1.0    1.0
4     4      2    0.0    NaN    2.0    0.0
5     5      1    0.0    NaN    2.0    2.0
6     6      2    0.0    NaN    0.0    2.0

In [87]:
res.loc[:,1:] = False

In [88]:
res

   item  list1  bin_x  bin_y  bin_x  bin_y
0     0  False  False  False  False  False
1     1  False  False  False  False  False
2     2  False  False  False  False  False
3     3  False  False  False  False  False
4     4  False  False  False  False  False
5     5  False  False  False  False  False
6     6  False  False  False  False  False

In [89]:
rest = resultnew.copy()

In [90]:
newdf = pd.DataFrame(np.zeros((7,4)))

In [91]:
newdf

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0

In [92]:
newdf.loc[:,0] = 1

In [93]:
newdf

   0    1    2    3
0  1  0.0  0.0  0.0
1  1  0.0  0.0  0.0
2  1  0.0  0.0  0.0
3  1  0.0  0.0  0.0
4  1  0.0  0.0  0.0
5  1  0.0  0.0  0.0
6  1  0.0  0.0  0.0

In [94]:
k = newdf.loc[0:3,0]

In [95]:
n = newdf.loc[4:,0]

In [96]:
newdf.loc[0:3,1] = k

In [97]:
newdf

   0    1    2    3
0  1  1.0  0.0  0.0
1  1  1.0  0.0  0.0
2  1  1.0  0.0  0.0
3  1  1.0  0.0  0.0
4  1  0.0  0.0  0.0
5  1  0.0  0.0  0.0
6  1  0.0  0.0  0.0

## CLASS CONSTRUCTION

In [98]:
class Student(object):
    name = ""
    age = 0
    major = ""

    # The class "constructor" - It's actually an initializer 
    def __init__(self, name, age, major):
        self.name = name
        self.age = age
        self.major = major

def make_student(name, age, major):
    student = Student(name, age, major)
    return student

## Minimum in the matrix

In [99]:
newdf.loc[1,2] = 5
newdf.loc[1,3] = 0.2
newdf.loc[3,3] = 9
newdf.loc[3,1] = 8
newdf

   0    1    2    3
0  1  1.0  0.0  0.0
1  1  1.0  5.0  0.2
2  1  1.0  0.0  0.0
3  1  8.0  0.0  9.0
4  1  0.0  0.0  0.0
5  1  0.0  0.0  0.0
6  1  0.0  0.0  0.0

In [100]:
min_val = newdf.loc[1,:].min()
min_val
#

0.20000000000000001

In [101]:
newdf.ix(newdf.idxmin())

/home/krupa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [102]:
newdf.loc[1,:].idxmin()#column number

3

In [103]:
newdf.loc[5,:]= np.nan
newdf

     0    1    2    3
0  1.0  1.0  0.0  0.0
1  1.0  1.0  5.0  0.2
2  1.0  1.0  0.0  0.0
3  1.0  8.0  0.0  9.0
4  1.0  0.0  0.0  0.0
5  NaN  NaN  NaN  NaN
6  1.0  0.0  0.0  0.0

In [104]:
val = newdf.loc[5,:].min()
if val==np.nan:
    print('NaN')
else:
    print(val)

nan

In [105]:
newdf

     0    1    2    3
0  1.0  1.0  0.0  0.0
1  1.0  1.0  5.0  0.2
2  1.0  1.0  0.0  0.0
3  1.0  8.0  0.0  9.0
4  1.0  0.0  0.0  0.0
5  NaN  NaN  NaN  NaN
6  1.0  0.0  0.0  0.0

In [106]:
newdf.iloc[1,:].idxmin()

3

In [107]:
newdf.fillna(9999, inplace=True)
newdf

        0       1       2       3
0     1.0     1.0     0.0     0.0
1     1.0     1.0     5.0     0.2
2     1.0     1.0     0.0     0.0
3     1.0     8.0     0.0     9.0
4     1.0     0.0     0.0     0.0
5  9999.0  9999.0  9999.0  9999.0
6     1.0     0.0     0.0     0.0