# BIN PACKING PROBLEM

## One dimesion

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math 
import csv as csv

### Read-in and check data

In [2]:
items = 'items'
bins = 'bins'

def read_data(fileName):
    df = pd.read_csv(fileName)
    return df
    
def check_packaging(df):
    rows, cols = df.shape #size of the data set
    return (rows, cols)

def data_check(df, n=3):
    df_top_n = df.head(n)
    return (df_top_n)

def check_ns(df):
    ns = df.describe()
    return ns

ITEM DATA:

In [3]:
df_items = read_data('%s.csv'%items)
print("rows(%s) x cols(%s) "%check_packaging(df_items))
print()
print("%s"%data_check(df_items))
print()
print(check_ns(df_items))
print()
df_items.set_index('item')

rows(5) x cols(3)

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN

           item      size  bin
count  5.000000  5.000000  0.0
mean   2.000000  3.600000  NaN
std    1.581139  1.516575  NaN
min    0.000000  2.000000  NaN
25%    1.000000  3.000000  NaN
50%    2.000000  3.000000  NaN
75%    3.000000  4.000000  NaN
max    4.000000  6.000000  NaN

      size  bin
item
0        4  NaN
1        3  NaN
2        6  NaN
3        2  NaN
4        3  NaN

In [4]:
df_vehicles = read_data('%s.csv'%bins)
print("VEHICLE DETAILS:")
print("rows(%s) x cols(%s) "%check_packaging(df_vehicles))
print()
print("%s"%data_check(df_vehicles))
print()
print(check_ns(df_vehicles))
print()
df_vehicles.set_index('bin')

VEHICLE DETAILS:
rows(3) x cols(3)

   bin  size  available_space
0    0     5                5
1    1     3                3
2    2     4                4

       bin  size  available_space
count  3.0   3.0              3.0
mean   1.0   4.0              4.0
std    1.0   1.0              1.0
min    0.0   3.0              3.0
25%    0.5   3.5              3.5
50%    1.0   4.0              4.0
75%    1.5   4.5              4.5
max    2.0   5.0              5.0

     size  available_space
bin
0       5                5
1       3                3
2       4                4

## GREEDY APPROACH

#### First-fit algorithm:
Algorithm scans the bins for the first bin which has a large enough space to fit the item. If the current bin has adequate space, the items is allocated to the bin, else the next bin is checked. For the next item, we iterate the bins from the FIRST bin (hence first fit algorithm).

In [5]:
def first_fit(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size = df_items.iat[i,1]
        while j<= number_of_bins and item_allocated == False:
            available_bin_space = df_vehicles.iat[j,2]
            if available_bin_space >= item_size: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.iat[j,2] = df_vehicles.iat[j,2] - item_size #update avialable space
                df_items.iat[i,2] = j#set the allocated bin for the item
            elif available_bin_space < item_size: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.iat[i,2] = np.nan
                    return df_items, df_vehicles

In [6]:
#counts the number of unused bins after allocating  items
def unused_bin(df_vehicles):
    number_of_bins = df_vehicles.shape[0]
    count = 0
    for i in range(number_of_bins):
        if df_vehicles.iloc[i][1] == df_vehicles.iloc[i][2]:
            count = count + 1
        else:
            count = count 
            return count

#### First-fit algorithm: UNSORTED LISTS

In [7]:
df_items_copy1 = df_items.copy()
df_items_copy1

   item  size  bin
0     0     4  NaN
1     1     3  NaN
2     2     6  NaN
3     3     2  NaN
4     4     3  NaN

In [8]:
df_vehicles_copy1 = df_vehicles.copy()
df_vehicles_copy1

   bin  size  available_space
0    0     5                5
1    1     3                3
2    2     4                4

In [9]:
df_items_copy1, df_vehicles_copy1 = first_fit(df_items_copy1, df_vehicles_copy1)
number_unused_vehicles1 = unused_bin(df_vehicles_copy1)

In [10]:
print('Item allocation to bins:')
df_items_copy1

Item allocation to bins:

   item  size  bin
0     0     4  0.0
1     1     3  1.0
2     2     6  NaN
3     3     2  NaN
4     4     3  NaN

In [11]:
print('Remaining space in bins:')
df_vehicles_copy1

Remaining space in bins:

   bin  size  available_space
0    0     5                1
1    1     3                0
2    2     4                4

In [12]:
print('Number of unused vehicles:')
number_unused_vehicles1

Number of unused vehicles:

0

#### First-fit algorithm:  DESCENDING SORTED LISTS of bins and items.

In [13]:
df_items_copy2 = df_items.copy()
df_items_copy2 = df_items_copy2.sort_values(by='size', ascending=0)
df_items_copy2

   item  size  bin
2     2     6  NaN
0     0     4  NaN
1     1     3  NaN
4     4     3  NaN
3     3     2  NaN

In [14]:
df_vehicles_copy2 = df_vehicles.copy()
df_vehicles_copy2 = df_vehicles_copy2.sort_values(by='size', ascending=0)
df_vehicles_copy2

   bin  size  available_space
0    0     5                5
2    2     4                4
1    1     3                3

In [15]:
df_items_copy2, df_vehicles_copy2 = first_fit(df_items_copy2, df_vehicles_copy2)
number_unused_vehicles2 = unused_bin(df_vehicles_copy2)

In [16]:
df_items_copy2

   item  size  bin
2     2     6  NaN
0     0     4  NaN
1     1     3  NaN
4     4     3  NaN
3     3     2  NaN

In [17]:
df_vehicles_copy2

   bin  size  available_space
0    0     5                5
2    2     4                4
1    1     3                3

In [18]:
print('Number of unused vehicles:')
number_unused_vehicles2

Number of unused vehicles:

#### First-fit algorithm: ASCENDING  SORTED item and bin list.

In [19]:
df_items_copy3 = df_items.copy()
df_items_copy3 = df_items_copy3.sort_values(by='size', ascending=1)
df_items_copy3

   item  size  bin
3     3     2  NaN
1     1     3  NaN
4     4     3  NaN
0     0     4  NaN
2     2     6  NaN

In [20]:
df_vehicles_copy3 = df_vehicles.copy()
df_vehicles_copy3 = df_vehicles_copy3.sort_values(by='size', ascending=1)
df_vehicles_copy3

   bin  size  available_space
1    1     3                3
2    2     4                4
0    0     5                5

In [21]:
df_items_copy3, df_vehicles_copy3 = first_fit(df_items_copy3, df_vehicles_copy3)
number_unused_vehicles3 = unused_bin(df_vehicles_copy3)

In [22]:
df_items_copy3

   item  size  bin
3     3     2  0.0
1     1     3  1.0
4     4     3  2.0
0     0     4  NaN
2     2     6  NaN

In [23]:
df_vehicles_copy3

   bin  size  available_space
1    1     3                1
2    2     4                1
0    0     5                2

In [24]:
print('Number of unused vehicles:')
number_unused_vehicles3

Number of unused vehicles:

0